Repository ZachGG421/project-management-github-activity, pull requests merged in 2023-02, with the labels that each got.

#6 add items 3
  .github/ISSUE_TEMPLATE/things-i-don-t-understand.md
Labels: I don't know

#8 add items 1
  .github/ISSUE_TEMPLATE/things-i-learned.md
Labels: I know

#10 add items 1
  .github/ISSUE_TEMPLATE/things-i-learned.md
Labels: I know

#11 add items 1
  .github/ISSUE_TEMPLATE/things-i-learned.md
Labels: I know

#13 add items 2
  .github/ISSUE_TEMPLATE/things-i-learned.md
Labels: I know

#15 add items 45
  .github/ISSUE_TEMPLATE/things-i-want-to-know.md
Labels: I want to know

#17 add items 47
  .github/ISSUE_TEMPLATE/things-i-want-to-know.md
Labels: I want to know

#21 1 i dont understand
  .github/ISSUE_TEMPLATE/completed-lists.md
  .github/ISSUE_TEMPLATE/master-list.md
  .github/ISSUE_TEMPLATE/things-i-don-t-understand.md
  .github/ISSUE_TEMPLATE/things-i-learned.md
  .github/ISSUE_TEMPLATE/things-i-want-to-know.md
Labels: I don't know

#32 Master List
  .github/ISSUE_TEMPLATE/master-list.md
  .github/ISSUE_TEMPLATE/things-i-don-t-know.md
  .github/ISSUE_TEMPLATE/things-i-learned.md
  .github/ISSUE_TEMPLATE/things-i-want-to-know-.md
Labels: Master List
